  <div class="row">
    <div class="col-md-4">
      <accordion close-others="oneAtATime">
        <accordion-group is-open="status.agentPhoto">
          <accordion-heading>
            Address <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.agentPhoto, 'glyphicon-chevron-right': !status.agentPhoto}"></i>
          </accordion-heading>
          <div>
            <label for="profile-company-name">Color: </label>
            <span id="profile-company-name">
              <select ng-model="getActiveTemplate().address.color" ng-options="color for color in config.styles.colors"></select>
            </span>
          </div>
        </accordion-group>
        <accordion-group is-open="status.agentName">
          <accordion-heading>
            Agent Name <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.agentName, 'glyphicon-chevron-right': !status.agentName}"></i>
          </accordion-heading>
          <div>
            <label for="profile-company-name">Color: </label>
            <span id="profile-company-name">
              <select ng-model="getActiveTemplate().agentName.color" ng-options="color for color in config.styles.colors"></select>
            </span>
          </div>
        </accordion-group>
      </accordion>
        <div class="pull-left"><button type="button" class="btn btn-default btn-lg">Cancel</button></div>
        <div class="pull-right"><button type="button" class="btn btn-success btn-lg">Save</button></div>
    </div>
  	<div class="col-md-8">
    <carousel>
      <slide ng-repeat="template in templates" active="template.active">
      	<!-- Template -->
        <img ng-src="{{template.src}}" style="margin:auto; height:500px; width: 1000px;">

      	<!-- Property Info -->
        <span ng-style="template.address">{{property.StreetNumber}} {{property.StreetName}} {{property.StreetSuffix}}<br>
        	{{property.City}}, {{property.StateOrProvince}} {{property.PostalCode}}</span>
        <img ng-src="{{property.pic}}" ng-style="template.image" />

        <!-- Agent Info -->
        <span ng-style="template.agentName">{{currentUser.name.first}} {{currentUser.name.last}}</span>
        <img ng-src="/api/avatar/{{currentUser.avatarId}}" ng-style="template.agentPic" />
      </slide>	
    </carousel>
	</div>
  </div>