<div class="header" ng-controller="NavbarCtrl">
  <div class="row">
        <div class="col-md-12">
            <div class="navbar-wrapper">
                    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                                        class="icon-bar"></span><span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="/">Project name</a>
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li ng-class="isActive('/listings') ? 'active' : ''"><a ng-click="setLocation('/listings')">Listings</a></li>
                                    <li ng-class="isActive('/farm') ? 'active' : ''"><a ng-click="setLocation('/farm')">Farm</a></li>
                                </ul>
                                <div class="col-sm-5 col-md-5">
                                    <form class="navbar-form" role="search" ng-submit="searchListings(data.search)">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search Listings..." name="q" ng-model="data.search">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown" ng-show="!currentUser"><a class="dropdown-toggle" data-toggle="dropdown">Login
                                        <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <form class="form" name="form" ng-submit="login(form)" novalidate>

                                                  <!-- <div class="form-group">
                                                    <label>Email</label>

                                                    <input type="text" name="email" class="form-control" ng-model="user.email" required>
                                                  </div>

                                                  <div class="form-group">
                                                    <label>Password</label>
                                                    
                                                    <input type="password" name="password" class="form-control" ng-model="user.password" required>
                                                  </div>

                                                  <div class="form-group has-error">
                                                    <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
                                                       Please enter your email and password.
                                                    </p>              
                                                    <p class="help-block">{{ errors.other }}</p>
                                                  </div>

                                                  <button type="submit" class="btn btn-lg btn-primary"> Sign in </button>
                                                </form> -->
                                                <div class="navbar-content">
                                                    <div class="form-group">
                                                    <label>Email</label>

                                                    <input type="text" name="email" class="form-control" ng-model="user.email" required>
                                                  </div>

                                                  <div class="form-group">
                                                    <label>Password</label>
                                                    
                                                    <input type="password" name="password" class="form-control" ng-model="user.password" required>
                                                  </div>

                                                  <div class="form-group has-error">
                                                    <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
                                                       Please enter your email and password.
                                                    </p>              
                                                    <p class="help-block">{{ errors.other }}</p>
                                                  </div>
                                                </div>
                                                <div class="navbar-footer">
                                                    <div class="navbar-footer-content">
                                                        <button type="submit" class="btn btn-default btn-sm pull-right"> Sign in </button>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                </form>
                                            </li>
                                        </ul>
                                    </li>
    								<li ng-hide="currentUser" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
                                    <li class="dropdown" ng-show="currentUser"><a class="dropdown-toggle" data-toggle="dropdown">Welcome, {{currentUser.name.first}}
                                        <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="navbar-content">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                        	<img ng-style="{width:'80px', marginBottom: '10px', height: '80px'}" ng-if="currentUser.avatarId" ng-src="/api/avatar/{{currentUser.avatarId}}" alt="...">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <h5>{{currentUser.company.name}}</h5>
                                                            <span>{{currentUser.name.first}} {{currentUser.name.last}}</span>
                                                            <div class="divider">
                                                            </div>
                                                            <p class="text-muted small">
                                                                Email: {{currentUser.email}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="navbar-footer">
                                                    <div class="navbar-footer-content">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <a href="/profile" class="btn btn-default btn-sm">Profile</a>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <a ng-click="logout()" class="btn btn-default btn-sm pull-right">Sign Out</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
  <!-- <ul class="nav nav-pills pull-right">
    <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
        <a ng-href="{{item.link}}">{{item.title}}</a>
    </li>
    <li ng-hide="currentUser" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
    <li ng-hide="currentUser" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
    <li ng-show="currentUser" ng-class="{active: isActive('/logout')}">
  		<img ng-src="/api/avatar/{{currentUser.avatarId}}"/>
  		<a href="" ng-click="logout()">Logout</a>
  	</li>
  </ul>
  <h3 class="text-muted">postOfficeProject</h3> -->
</div>