<div class="row">
	<div class="col-md-2">
	    <ul class="nav nav-pills nav-stacked">
          <li ng-class="currentView === 'profile' ? 'active': ''"><a ng-click="currentView = 'profile'"><i class="fa fa-envelope"></i> Profile</a></li>
          <li ng-class="currentView === 'edit' ? 'active': ''"><a ng-click="currentView = 'edit'"><i class="fa fa-user"></i> Edit</a></li>
          <li><a ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
        </ul>
    </div>
	<div class="col-md-10">
		<div class="well">
		<div class="panel">
			<img class="pic" ng-if="currentUser.avatarId" ng-src="/api/avatar/{{currentUser.avatarId}}" alt="...">
			<div class="name"><small>{{currentUser.name.first}} {{currentUser.name.last}}</small></div>
		</div>
		<br><br><br>
		<div class="panel panel-default">
			<div class="panel-body">
				<div ng-if="currentView === 'profile'">
					<div>
						<label for="profile-company-name">Email: </label>
						<span id="profile-company-name">{{currentUser.email}}</span>
					</div>
					<div>
						<label for="profile-company-name">Company Name: </label>
						<span id="profile-company-name">{{currentUser.company.name}}</span>
					</div>
					<div>
						<label for="profile-company-name">Company Address: </label>
						<span id="profile-company-name">{{currentUser.company.address}}</span>
					</div>
					<div>
						<label for="profile-company-name">MLS Number: </label>
						<span id="profile-company-name">{{currentUser.mlsNumber}}</span>
					</div>
				</div>
				<div ng-if="currentView === 'edit'">
					<div class="row">
  <div class="col-sm-12">
    <form class="form" name="form" ng-submit="changePassword(form)" novalidate>
    	
      <div class="form-group">
        <label>Current Password</label>

        <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
               mongoose-error/>    
        <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.other }}
        </p>
      </div>

      <div class="form-group">
        <label>New Password</label>

        <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" 
               ng-minlength="3"
               required/>
        <p class="help-block"
           ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
          Password must be at least 3 characters.
        </p>
      </div>

      <p class="help-block"> {{ message }} </p>

      <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
    </form>
  </div>
</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>